<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- First replace JSON-style fields and values -->
            <PatternLayout pattern='[%-5level] %d{yyyy-MMM-dd HH:mm:ss.SSS} $${env:HOSTNAME} [%t] %C - %replace{%replace{%m}{(?i)("emailAddress"|"postCode"|"phoneNumber"|"street2"|"street1"|"city"|"name"|"mobile"|"country"|"firstName"|"lastName"|"formattedName"|"givenName"|"fullName"|"familyName"|"preferredGivenName"|"location"|"customer"|"account"|"user"|"gender"|"dateOfBirth"|"email"|"address"|"credit"|"card"|"passport"|"medicare"|"drivers"|"licence")\s*:\s*(?:"[^"]*"|\[.*?\])}{$1: "*** MASKED ***"}}{(?i)\b(?:state|province|stateOrProvince)(?:\s*|:)\s*[A-Z]{2}\b}{state: "*** MASKED ***"}%n'/>
        </Console>
        <!-- File appender for persistent logging -->
        <RollingFile name="RollingFile" fileName="logs/camunda-swagger.log"
                     filePattern="logs/camunda-swagger-%d{yyyy-MM-dd}-%i.log.gz">
            <!-- First replace JSON-style fields and values, then catch direct values -->
            <PatternLayout pattern='[%-5level] %d{yyyy-MMM-dd HH:mm:ss.SSS} $${env:HOSTNAME} [%t] %C - %replace{%replace{%m}{(?i)("emailAddress"|"postCode"|"phoneNumber"|"street2"|"street1"|"city"|"name"|"mobile"|"country"|"firstName"|"lastName"|"formattedName"|"givenName"|"fullName"|"familyName"|"preferredGivenName"|"location"|"customer"|"account"|"user"|"gender"|"dateOfBirth"|"email"|"address"|"credit"|"card"|"passport"|"medicare"|"drivers"|"licence")\s*:\s*(?:"[^"]*"|\[.*?\])}{$1: "*** MASKED ***"}}{(?i)\b(?:state|province|stateOrProvince)(?:\s*|:)\s*[A-Z]{2}\b}{state: "*** MASKED ***"}%n'/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- Application specific logging -->
        <Logger name="dev.rugved.camundaSwagger" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Logger>
        <!-- Framework logging -->
        <Logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Logger>
        <Logger name="io.camunda" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>